.env
.docker/dbdata/

*.log
.composer/

# Laravel padrão
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.env.testing

# Logs e caches
/storage/logs
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Banco de dados local
/database/*.sqlite

# Arquivos de build / compilação frontend
/public/hot
/public/mix-manifest.json
/public/js/*.map
/public/css/*.map

# IDEs / Editores
.idea
.vscode
*.sublime-project
*.sublime-workspace

# SO / sistema de arquivos
.DS_Store
Thumbs.db

# Arquivos temporários e backup
*.bak
*.tmp
*.swp
*~